$white: #ffffff;
$navy: #3b4b5b;
$green: #2fc3a7;
$gold: #ac8c4b;
$gold_1S: #c6ae7d;
$gold_2S: #d4c29d;
$gold_3S: #e2d6bd;
$gold_4S: #f0eadd;
$navy_5S: #f7f8fa;
$navy_4S: #dee4ea;
$navy_3S: #b0becc;
$navy_2S: #8198ae;
$navy_1S: #536a80;
$pink: #ff658b;
$pink_1S: #ffb2c5;
$pink_2S: #ffe5eb;
$pink_D: #ff3265;
$red: #ef5b3e;
$red_1S: #f7ab9c;
$red_2S: #fde7e3;
$red_D: #e73613;
$gold_5s: #f9f7f2;
$orange: #ff9933;
$orange_1S: #fec187;
$orange_2S: #fff2e6;
$orange_D: #e67300;
$yellow: #eec400;
$yellow_1S: #ffe155;
$yellow_2S: #fff8d5;
$yellow_D: #bb9a00;
$blue: #40bbef;
$blue_1S: #9eddf7;
$blue_2S: #dbf2fc;
$blue_D: #1298d1;
$cookpad: #ff9933;
$line: #1dcd00;
$twitter: #55acee;
$facebook: #3b5998;
$green_1S: #58d7bf;
$green_2S: #8ae3d2;
$green_3S: #afece0;
$green_4S: #d4f5ee;
$green_5S: #f5fcfb;
$green_D: #269e87;
$gold_5S: #f7f5ef;